@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

p
{
	color: #FF0000;
	line-height: 100px;
	background: #ffffff00;
	text-align: center;
	margin: 0;
}

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 4px; 
	padding: 0px; 
}	

img
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 20px;
	color: black;

}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: white;
	height: 20px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
}

/*This is a flex item*/
#logo
{
	width: 200px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 500px;
	font-size: 20px;
}

#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promo p 
{
	line-height: 250px;
}

#promoText 
{
	width: 600px;
}

#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
	line-height: 300px;
}

.productDesc 
{
	width: 200px;
}

#mainFooter 
{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	font-size: 20px;
}

#footerNav 
{
	width: 500px;
}

#copyRight 
{
	margin-left: 100px;
	width: 200px;
	height: 134px;
	font-size: 12px;
}

/*Page 2 - Notice we are using one style sheet for all of the pages*/

#contentCon {
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#contentCon p 
{
	line-height: 630px;
}

#content1 
{
	width: 440px;
}

#content2 
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 70px;
	width: 440px;
	text-align: center;
	font-size: 30px;
}

/*Page 3*/

#productImages 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

/*Get rid of this, here just to give different height*/
#productImages p
{
	line-height: 250px;
}

.productImg 
{
	width: 280px;
}


#contentAreaBig
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height*/
#contentAreaBig p 
{
	line-height: 300px;
}

#promoImageBig
{
	width: 920px;
}


/*Page 4*/

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

/*-- Contact Page --*/

#mainContact {
  width: 940px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mainContact h2 {
  font-size: 30px;
  color: #2073a8;
  background-color: #ddeff7;
  margin-bottom: 40px;
  padding: 8px 0px 8px 5px;
  width: 940px;
}

#contactArea {
  width: 469px;
  border-right: solid 1px #CCC;
  margin-bottom: 730px;
}


#contactText {
  font-size: 21px;
  margin-bottom: 30px;
  width: 340px;
}

#contactForm {
  margin-top: 30px;
}


#img1{
	background: url(../images/home.jpg);
	background-repeat: no-repeat;
}

#img2{
	background: url(../images/shop.jpg);
	background-repeat: no-repeat;
}

#img3{
	background: url(../images/DIY.jpg);
	background-repeat: no-repeat;
}

#img4{
	background: url(../images/gallery.jpg);
	background-repeat: no-repeat;
}

#img5{
	background: url(../images/contacts.png);
	background-repeat: no-repeat;
}


#bgpic{

	background-color: white;

}


#santalist{
	background: url(../images/santalist.png)

}


.socialMedia {
  height: 45px;
  margin-left: auto;
  margin-top: 28px;
  margin-right: 10px;
}


#logo1{
	height: 45px;
  margin-left: auto;	
	margin-top: 28px;
  margin-right: 10px;
}